<div class="wp-rss-aggregator {{ options.html_classes }}" data-page="{{ options.pagination_page }}">
    {{ options.before_list|raw }}
    {{ include('feeds/list-view/feed-list.twig') }}
    {{ options.after_list|raw }}
</div>
