<div class="wp-rss-aggregator wpra-list-template {{ options.html_classes }}" data-page="{{ options.pagination_page }}">
    {{ options.before_list|raw }}
    {{ include(self.dir ~ 'feed-list.twig') }}
    {{ options.after_list|raw }}
</div>
